{% extends 'supplier/supplier_base.html' %}


{% block title %}商品削除{% endblock %}


{% block content %}
    <div class="card card-auth my-4 mx-auto">
        <div class="card-body">
            <p class="card-title text-center">[ {{ item_data.title }} ]<br>を削除しますか？</p>
            <form action="" method="post" class="form-auth">
                {% csrf_token %}
                <div class="button mx-auto">
                    <button class="btn btn-lg btn-warning btn-block mx-auto" type="submit">削除する</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}