{% extends 'app/top_base.html' %}

{% block content %}

<div class="main">
    <form action="{% url 'index' %}" method="get">
    {% csrf_token %}
    <div class="col-xs-8 col-xs-offset-2">
        <div class="input-group">
            <input type="hidden" name="keyword" value="{{ request.GET.keyword }}" id="keyword">
            <input class="form-control" name="keyword" placeholder="キーワードで商品を探す" value="{{ request.GET.keyword }}" type="text">
            <button class="btn btn-outline-primary btn-category-search " type="submit">検索</button>
        </div>
    </div>
    </form>
    <div class="text-center my-5">
        <div class="row">
            <!-- 検索結果の表示 -->
            {% for page in pages %}
                <div class="col-lg-3 col-md-6">
                    <div class="card img-thumbnail itemlist mb-3">
                        <img src="{{ page.image.url }}" alt="" class="card-img-top card-thum">
                        <div class="card-body text-center px-2 py-3">
                            <p class="mb-0 text-secondary">{{ page.category_tag }}</p>
                            <h5 class="font-weight-bold">{{ page.title }}</h5>
                            <h4 class="font-weight-bold">{{ page.price }}円</h4>
                            <a href="{% url 'product' page.slug %}" class="stretched-link"></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h5 class="font-weight-bold">検索結果がありません</h5>
            {% endfor %}
        </div>
    <!-- ページ選択部分 -->
    <div class="text-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-context-center">
                <!-- 前のページ　に戻る -->
                {% if pages.has_previous %}
                <li class="page-item">
                    <a href="?page={{ pages.previous_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}" aria-label="Previous" class="page-link">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                {% endif %}
                <!-- ページ番号 -->
                {% for num in page_range %}
                    {% if pages.number == num %}
                        <li class="page-item active">
                            <span class="page-link">
                                {{ num }}
                                <span class="sr-only">(current)</span>
                            </span>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a href="?page={{ num }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}" class="page-link">{{ num }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <!-- 次のページに進む -->
                {% if pages.has_next %}
                <li class="page-item">
                    <a href="?page={{ pages.next_page_number }}{% if request.GET.keyword %}&keyword={{ request.GET.keyword }}{% endif %}" aria-label="Next" class="page-link">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    </div>
</div>


{% endblock %}